body, html {
  margin: 0;
  padding: 0;
}
.node {
  fill: transparent;
  stroke: #494949ff;
  stroke-width: 2px;
  cursor: pointer;
  opacity: 0.6;
}
.node-back {
  fill: #ed95ddff;
}
.node-link {
  stroke-opacity: 0.6;
  fill: none;
  stroke: #999;
  stroke-width: 2px;
  marker-end: url(#arrow);
}
.arrow {
  fill: #999;
}
.node.selected {
  stroke: red;
  stroke-width: 2px;
}